.MMM-IdF-Transport .table {
    border-spacing: 0px 0px;
    border-collapse: separate;
    text-align: left;
	}

.MMM-IdF-Transport .spacerRow {
	padding-bottom: 5px;
	}

.MMM-IdF-Transport .destination {
	font-weight: normal;
	color: white;
	}
	
.MMM-IdF-Transport .line {
    border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: left;
	color:white;
	font-weight: normal;
	width: 60px;
	}
	
.MMM-IdF-Transport .departure {
	padding-left: 10px;
	text-align: right;
	font-weight: normal;
	color: white;
	}
	
.MMM-IdF-Transport .noTramRow {
	font-weight: normal;
	color: white;
	}
	
.MMM-IdF-Transport .bus {
	position: relative;
	text-align: center;
	vertical-align:top;
	color: white;
	}

/* Container holding the image and the text */
.container {
	position: relative;
	text-align: center;
	color: white;
  }

/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
